@use "vars";

.header {
  margin-top: 60px;

  &__title {
    width: 160px;
    line-height: 1px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: vars.$breakPoint) {
    padding: 0 10px;
  }
}
