@use "vars";
@mixin sectionWrap {
  max-width: vars.$contentMaxWidth;
  margin: 0 auto;
  @media screen and (max-width: vars.$breakPoint) {
    padding: 0 40px;
  }
}

@mixin sectionTitle {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
